html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

:focus {
    outline: 0;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow-x: hidden;
}
body.overflow_hidden{
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
}
.main-content{
    flex: 1 0 auto;
}

ol,
ul {
    list-style: none;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: """";
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
    text-decoration: none;
    transition: all 200ms ease-out;
}

a:focus {
    outline: none;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong,
.bold {
    font-weight: bold;
}

em,
i {
    font-style: italic;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

figure {
    margin: 0;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #E9E9E9;
}

[role="button"] {
    cursor: pointer;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left-xs {
    text-align: left;
}

.text-center-xs {
    text-align: center;
}

.text-right-xs {
    text-align: right;
}

@media (min-width: 768px) {
    .text-left-sm {
        text-align: left;
    }

    .text-center-sm {
        text-align: center;
    }

    .text-right-sm {
        text-align: right;
    }
}

@media (min-width: 992px) {
    .text-left-md {
        text-align: left;
    }

    .text-center-md {
        text-align: center;
    }

    .text-right-md {
        text-align: right;
    }
}

@media (min-width: 1230px) {
    .container {
        width: 1200px;
    }

    .text-left-lg {
        text-align: left;
    }

    .text-center-lg {
        text-align: center;
    }

    .text-right-lf {
        text-align: right;
    }
}

.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.form-group {
    position: relative;
}

.form-control {
    display: block;
    width: 100%;
    height: 48px;
    padding: 0 15px;
    border: 2px solid #F2F2F2;
    background: #F2F2F2;
    color: #727376;
    text-shadow: none;
    font-size: 14px;
    line-height: 1.42857143;
    margin-bottom: 20px;
    border-radius: 5px;
}

.form-control:focus {
    background: #fff;
    border-color: #D9DDE1;
}

.form-control[readonly]:focus {
    border-color: #E3E3E4;
}

.form-control.error {
    border-color: #FF1A00;
}

.form-control::-moz-placeholder {
    color: #6B6F7D;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #6B6F7D;
}

.form-control::-webkit-input-placeholder {
    color: #6B6F7D;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
}

textarea.form-control {
    height: auto;
    max-width: 100%;
    min-height: 115px;
    resize: none;
    padding-top: 10px;
}

input:focus::-moz-placeholder {
    opacity: 0;
}

input:focus:-ms-input-placeholder {
    opacity: 0;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}

textarea:focus::-moz-placeholder {
    opacity: 0;
}

textarea:focus:-ms-input-placeholder {
    opacity: 0;
}

textarea:focus::-webkit-input-placeholder {
    opacity: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
    display: none !important;
}

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
    display: none !important;
}

@media (max-width: 767px) {
    .visible-xs {
        display: block !important;
    }

    table.visible-xs {
        display: table !important;
    }

    tr.visible-xs {
        display: table-row !important;
    }

    th.visible-xs,
    td.visible-xs {
        display: table-cell !important;
    }
}

@media (max-width: 767px) {
    .visible-xs-block {
        display: block !important;
    }
}

@media (max-width: 767px) {
    .visible-xs-inline {
        display: inline !important;
    }
}

@media (max-width: 767px) {
    .visible-xs-inline-block {
        display: inline-block !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm {
        display: block !important;
    }

    table.visible-sm {
        display: table !important;
    }

    tr.visible-sm {
        display: table-row !important;
    }

    th.visible-sm,
    td.visible-sm {
        display: table-cell !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-block {
        display: block !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-inline {
        display: inline !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-inline-block {
        display: inline-block !important;
    }
}

@media (min-width: 992px) and (max-width: 1229px) {
    .visible-md {
        display: block !important;
    }

    table.visible-md {
        display: table !important;
    }

    tr.visible-md {
        display: table-row !important;
    }

    th.visible-md,
    td.visible-md {
        display: table-cell !important;
    }
}

@media (min-width: 992px) and (max-width: 1229px) {
    .visible-md-block {
        display: block !important;
    }
}

@media (min-width: 992px) and (max-width: 1229px) {
    .visible-md-inline {
        display: inline !important;
    }
}

@media (min-width: 992px) and (max-width: 1229px) {
    .visible-md-inline-block {
        display: inline-block !important;
    }
}

@media (min-width: 1230px) {
    .visible-lg {
        display: block !important;
    }

    table.visible-lg {
        display: table !important;
    }

    tr.visible-lg {
        display: table-row !important;
    }

    th.visible-lg,
    td.visible-lg {
        display: table-cell !important;
    }
}

@media (min-width: 1230px) {
    .visible-lg-block {
        display: block !important;
    }
}

@media (min-width: 1230px) {
    .visible-lg-inline {
        display: inline !important;
    }
}

@media (min-width: 1230px) {
    .visible-lg-inline-block {
        display: inline-block !important;
    }
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important;
    }
}

@media (min-width: 992px) and (max-width: 1229px) {
    .hidden-md {
        display: none !important;
    }
}

@media (min-width: 1230px) {
    .hidden-lg {
        display: none !important;
    }
}

.push1 {
    height: 1px;
}

.push2 {
    height: 2px;
}

.push3 {
    height: 3px;
}

.push4 {
    height: 4px;
}

.push5 {
    height: 5px;
}

.push6 {
    height: 6px;
}

.push7 {
    height: 7px;
}

.push8 {
    height: 8px;
}

.push9 {
    height: 9px;
}

.push10 {
    height: 10px;
}

.push11 {
    height: 11px;
}

.push12 {
    height: 12px;
}

.push13 {
    height: 13px;
}

.push14 {
    height: 14px;
}

.push15 {
    height: 15px;
}

.push16 {
    height: 16px;
}

.push17 {
    height: 17px;
}

.push18 {
    height: 18px;
}

.push19 {
    height: 19px;
}

.push20 {
    height: 20px;
}

.push25 {
    height: 25px;
}

.push30 {
    height: 30px;
}

.push35 {
    height: 35px;
}

.push40 {
    height: 40px;
}

.push45 {
    height: 45px;
}

.push50 {
    height: 50px;
}

.push55 {
    height: 55px;
}

.push60 {
    height: 60px;
}

.push70 {
    height: 70px;
}

.push80 {
    height: 80px;
}

.push90 {
    height: 90px;
}

.push100 {
    height: 100px;
}

.f8 {
    font-size: 8px;
}

.f9 {
    font-size: 9px;
}

.f10 {
    font-size: 10px;
}

.f11 {
    font-size: 11px;
}

.f12 {
    font-size: 12px;
}

.f13 {
    font-size: 13px;
}

.f14 {
    font-size: 14px;
}

.f15 {
    font-size: 15px;
}

.f16 {
    font-size: 16px;
}

.f17 {
    font-size: 17px;
}

.f18 {
    font-size: 18px;
}

.f19 {
    font-size: 19px;
}

.f20 {
    font-size: 20px;
}

.f21 {
    font-size: 21px;
}

.f22 {
    font-size: 22px;
}

.f24 {
    font-size: 24px;
}

.f26 {
    font-size: 26px;
}

.f28 {
    font-size: 28px;
}

.f30 {
    font-size: 30px;
}

.f34 {
    font-size: 34px;
}

.f36 {
    font-size: 36px;
}

.strike {
    text-decoration: line-through;
}

:invalid {
    box-shadow: none;
}

:-moz-submit-invalid {
    box-shadow: none;
}

:-moz-ui-invalid {
    box-shadow: none;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.upper {
    text-transform: uppercase;
}

.dashed {
    text-decoration: none;
    border-bottom: 1px dashed;
}

.dotted {
    text-decoration: none !important;
    border-bottom: 1px dotted;
}

.dashed:hover,
.dotted:hover {
    border-bottom-color: transparent;
}

.jgrowlHide #jGrowl {
    display: none !important;
}

.decoration-none {
    text-decoration: none !important;
}

.decoration-hover {
    text-decoration: none;
}

.decoration-hover:hover {
    text-decoration: underline;
}

a.absolute {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.red {
    color: #FF4632;
}

.white {
    color: #fff;
}

.black {
    color: #000;
}

p {
    margin-bottom: 20px;
}

.btn.block {
    display: block;
    width: 100%;
}

.flex {
    display: flex;
}

.fw {
    flex-wrap: wrap;
}

.ai-c {
    align-items: center;
}

.jc-c {
    justify-content: center;
}

.jc-sb {
    justify-content: space-between;
}

/* Fancybox */
.fancybox_modal {
    display: none;
    width: 560px;
    max-width: 100%;
}
.fancybox_modal_inner{
    background: #fff;
    padding: 35px 25px;
    animation-name: zoomIn;
    animation-timing-function: ease-out;
    font-size: 14px;
}
.fancybox_modal.fancybox_modal_big{
    width: 900px;
}
@media(min-width: 990px){
    .fancybox_modal.fancybox_modal_big{
        width: 960px;
    }
    .fancybox_modal.fancybox_modal_big .fancybox_modal_inner{
        padding: 50px;
    }
}

#responseMessage .fancybox_modal-content.error {
    color: #FF4632;
}
.fancybox-content{
    padding: 0;
}
/* /. Fancybox */


/* Slick carousel */
.slick-object>div {
    display: none;
}

.slick-object>div:first-of-type,
.slick-object.slick-slider>div {
    display: block;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slider-wrapper .item img {
    min-height: 300px;
}

.slick-dots {
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
    display: block;
    margin-top: 20px;
}

.slick-dots li button {
    position: absolute;
    top: -5px;
    left: -5px;
    border: none;
    border-radius: 50%;
    display: block;
    opacity: 0;
}

.slick-dots li {
    cursor: pointer;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.slick-prev,
.slick-next {
    display: block;
    cursor: pointer;
    transition: all 200ms ease-out;
    text-align: center;
    border-radius: 5px;
}

.slick-dots li {
    border-radius: 50%;
    width: 11px;
    height: 11px;
    margin: 0 10px 0;
    background: #2867B8;
}

.slick-dots li.slick-active {
    background: #CBAA74;
}

.slick-prev,
.slick-next {
    width: 40px;
    height: 40px;
    background: radial-gradient(at top, #fcedd0, #c6a874 70%);
    position: absolute;
    top: calc(50% - 20px);
    z-index: 50;
    border-radius: 5px;
    transition: all ease-out 300ms;
}

.slick-prev {
    left: 50px;
}

.slick-next {
    right: 50px;
}

.slick-prev:after,
.slick-next:after {
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    top: 50%;
    left: 50%;
    margin-top: -6px;
    margin-left: -4px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: all 200ms ease-out;
}

.slick-prev:after {
    transform: rotate(45deg);
}

.slick-next:after {
    transform: rotate(225deg);
    margin-left: -9px;
}

.slick-prev:hover,
.slick-next:hover{
    -webkit-filter: brightness(110%);
    filter: brightness(110%);
}

@media(max-width: 1229px) {
    .slick-prev {
        left: 15px;
    }

    .slick-next {
        right: 15px;
    }
}

/* /. Slick carousel */

@media(min-width: 992px) {

    /* Custom chrome scroll */
    ::-webkit-resizer {
        background-repeat: no-repeat;
        width: 10px;
        height: 1px;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-button {
        background-repat: no-repeat;
        width: 10px;
        height: 0px;
    }

    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 0px;
        border-radius: 0px;
        background-color: #CBAA74;
    }

    ::-webkit-scrollbar-track {
        background-color: #2C2C2C;
    }
    
    .mobile-menu::-webkit-resizer,
    .mobile-menu::-webkit-scrollbar {
        width: 0;
    }
    /* /. Custom chrome scroll */
}

/* Agreement */
.agreement {
    position: relative;
    margin-top: 20px;
    color: #838383;
    font-size: 15px;
}

.agreement input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.agreement label {
    padding-left: 25px;
    display: inline-block;
    position: relative;
}

.agreement input+label:before {
    background: url(../images/check-empty.svg) 0 0 no-repeat;
    content: "";
    display: block;
    position: absolute;
    width: 17px;
    height: 17px;
    top: 5px;
    left: 0px;
}

.agreement input:checked+label:before {
    background: url(../images/checked.svg) 0 0 no-repeat;
}

.agreement input.error+label {
    color: red;
}

/* /. Agreement */

/* Mobile menu btn */
.menu-button {
    width: 36px;
    height: 36px;
    cursor: pointer;
    position: fixed;
    transition: all 350ms ease-out;
    z-index: 1500;
    top: 30px;
    right: 20px;
}
.menu-button.active{
    transform: translateX(-220px) translateY(-26px);
    border-radius: 0;
}
.menu-button.active .icon-menu-burger__line,
.menu-button.active .icon-menu-burger:before, 
.menu-button.active .icon-menu-burger:after{
    background: red;
}

.icon-menu-burger {
    height: 2px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transition: transform 0.2s ease 0s;
}

.icon-menu-burger__line {
    background: #C8AA75;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.2s linear 0.2s;
}

.icon-menu-burger:before, 
.icon-menu-burger:after {
    background: #C8AA75;
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
}

.icon-menu-burger:before {
    top: -10px;
    transition: top 0.2s linear 0.4s;
}

.icon-menu-burger:after {
    bottom: -10px;
    transition: bottom 0.2s linear 0.4s;
}

.menu-button.active .icon-menu-burger {
    transform: rotate(45deg);
    transition: transform 0.2s linear 0.4s;
}

.menu-button.active .icon-menu-burger__line {
    transform: rotate(90deg);
}

.menu-button.active .icon-menu-burger:before {
    transition: top 0.2s linear;
    top: 0;
}

.menu-button.active .icon-menu-burger:after {
    transition: bottom 0.2s linear;
    bottom: 0;
}
@media(max-width: 991px){
    .menu-button{
        top: 15px;
        right: 15px;
    }
    .menu-button.active {
        transform: translateX(-225px) translateY(-16px);
    }
}
/* /. Mobile menu btn */

/* Mobile menu */
.mobile-menu-wrapper {
    position: fixed;
    top: 0;
    right: -440px;
    height: 100%;
    width: 240px;
    max-width: 100%;
    z-index: 1000;
    transition: all 300ms ease-out;
}

.mobile-menu {
    background: #2C2C2C;
    height: 100%;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: -100;
    opacity: 0;
    transition: opacity 200ms ease-out;
}

.mobile-menu li {
    position: relative;
}

.mobile-menu>ul>li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.mobile-menu>ul>li:first-of-type {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.mobile-menu>ul>li.down>a {
    padding-right: 38px;
}

.mobile-menu .dropdown-button {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 45px;
    width: 38px;
    z-index: 10;
}

.mobile-menu .dropdown-button:before {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 16px;
    left: 11px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg);
    transition: all 300ms ease-out;
}

.mobile-menu .dropdown-button.active:before {
    transform: rotate(225deg);
    top: 20px;
}

.mobile-menu>ul>li>ul {
    position: static;
    width: 100%;
    display: none;
}

.mobile-menu>ul>li>a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 12px 20px;
    font-size: 15px;
    line-height: 1.4;
}
.mobile-menu li:hover > a,
.mobile-menu li.active > a{
    background: #C8AA75;
    color: #2c2c2c;
}

.mobile-menu>ul>li>ul>li>a,
.mobile-menu ul ul ul a {
    display: block;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    transition: all 200ms ease-out;
    padding: 10px 30px 10px 20px;
    color: #FFFFFF;
    position: relative;
}

.mobile-menu ul ul ul a {
    padding: 6px 10px 6px 45px;
    font-size: 13px;
    position: relative;
}

.mobile-menu ul ul ul a:before {
    content: "";
    position: absolute;
    top: 14px;
    left: 33px;
    width: 4px;
    height: 4px;
    border-radius: 1px;
    background: rgba(255, 255, 255, 0.8);
}

.mobile-menu ul ul ul ul a:before {
    display: none;
}

.mobile-menu .dropdown-button+ul {
    position: static;
    width: 100%;
    display: none;
    padding-bottom: 10px;
    filter: brightness(0.8);
    background: #383838;
}

.mobile-menu ul ul .dropdown-button {
    height: 38px;
    width: 30px;
}

.mobile-menu ul ul .dropdown-button:before {
    content: "+";
    width: 12px;
    height: 10px;
    line-height: 10px;
    top: 50% !important;
    left: 50%;
    font-size: 17px;
    margin-top: -5px;
    margin-left: -6px;
    border: none;
    color: #fff;
    transform: rotate(0) !important;
}

.mobile-menu ul ul .dropdown-button.active:before {
    content: "-";
}

.mobile-menu ul ul ul .dropdown-button {
    height: 30px;
    width: 30px;
}

.mobile-menu ul ul ul .dropdown-button:before {
    margin-top: -6px;
    margin-left: -10px;
}

.mobile-menu-wrapper.open {
    right: 0;
}

.mobile-menu-wrapper.open+.overlay {
    z-index: 500;
    opacity: 1;
}

.swipe-area {
    position: absolute;
    width: 15px;
    right: -15px;
    top: 0;
    bottom: 0;
    background: transparent;
}

.mobile-menu {
    overflow-y: auto;
}
/* /. Mobile menu */



/* Custom check */
.custom_check {
    position: relative;
    margin-bottom: 10px;
}

.custom_check input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.custom_check label {
    padding-left: 25px;
    display: inline-block;
    position: relative;
}

.custom_check input+label:before {
    background: url(../images/check-empty.svg) 0 0 no-repeat;
    content: "";
    display: block;
    position: absolute;
    width: 17px;
    height: 17px;
    top: 5px;
    left: 0px;
}

.custom_check input:checked+label:before {
    background: url(../images/checked.svg) 0 0 no-repeat;
}

.custom_check input.error+label {
    color: red;
}
/* /. Custom check */


#up {
    position: fixed;
    overflow: hidden;
    right: 20px;
    bottom: 25px;
    z-index: 100;
    width: 48px;
    height: 48px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition: .3s all ease-in-out;
    transform: translate3d(0, 150px, 0);
    cursor: pointer;
    border-radius: 3px;
    background: radial-gradient(at top, #fcedd0, #c6a874 70%);
}

#up.active {
    transform: translate3d(0, 0, 0);
}

#up:hover {
    filter: brightness(110%);
}

#up svg {
    height: 20px;
    position: relative;
    bottom: -4px;
}

@media(max-width: 991px) {
    #up {
        bottom: 15px;
        right: 15px;
    }
}

/* Pagination */
.pagination {
    margin: 30px 0;
    text-align: center;
}

.pagination li {
    display: inline-block;
    text-align: center;
}

.pagination a,
.pagination li>span {
    font-size: 16px;
    font-weight: bold;
    color: #2867B8;
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-decoration: none;
}

.pagination a:hover {
    color: #FF982E;
}

.pagination .active a {
    background: #CBAA74;
    color: #fff;
}

/* /. Pagination */

/* Map */
.map {
    height: 500px;
}

#mapexMap {
    height: 100%;
}

/* /. Map */

blockquote {
    border-left: 3px solid #CBAA74;
    margin-bottom: 30px;
    padding-left: 20px;
}

.content ul,
.content ol {
    margin-bottom: 30px;
}

.content ul>li,
.content ol>li {
    margin-bottom: 10px;
    position: relative;
}

.content ul>li {
    padding-left: 25px;
}

.content ul>li:after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 2px;
    top: 12px;
    left: 0;
    background: #CBAA74;
}

.content ul ul,
.content ol ul,
.content ol ol,
.content ul ol {
    padding-top: 10px;
    padding-left: 10px;
}

.content ul ul li,
.content ol ul li {
    padding-left: 15px;
    position: relative;
    margin-bottom: 10px;
}

.content ul ul li:after,
.content ol ul li:after {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    top: 9px;
    left: 0;
    border: 1px solid #999999;
    border-radius: 50%;
}

.content ul ol li,
.content ol ol li {
    list-style: decimal;
    padding-left: 3px;
    margin-left: 12px;
    margin-bottom: 10px;
}

.content ol {
    counter-reset: item;
}

.content ol li {
    display: block;
}

.content ol li:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
    padding: 0 5px 0 10px;
    color: #999999;
}

.content ul ul ol li:after,
.content ol ul ol li:after {
    display: none;
}

.content table {
    width: 100%;
    margin-bottom: 30px;
}

.content table th {
    background: #000;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px;
    vertical-align: middle;
    border: 1px solid #000;
    border-right-color: #333333;
}
.content table td {
    border: 1px solid #E5E5E5;
    padding: 20px;
    vertical-align: middle;
    font-weight: 100;
    font-size: 15px;
}